$bs_color: #556c82;
$time: 3s;
$delay: $time / 14;

.loader {
  width: 160px;
  height: 180px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
}
.load-text {
  height: 30px;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
  color: $bs_color;
  animation: LoadText $time ease-in-out infinite;
}
.hexagon-container {
  position: relative;
  top: 50px;
  left: 41px;
  border-radius: 50%;
}

.hexagon {
  position: absolute;
  width: 40px;
  height: 23px;
  background-color: $bs_color;
  &:before {
    content: '';
    position: absolute;
    top: -11px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 11.5px solid $bs_color;
  }
  &:after {
    content: '';
    position: absolute;
    top: 23px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 11.5px solid $bs_color;
  }
}

@each $index, $top, $left in (1, 0px, 0px), (2, 0px, 42px), (3, 36px, 63px),
  (4, 72px, 42px), (5, 72px, 0px), (6, 36px, -21px), (7, 36px, 21px)
{
  .hexagon.hex_#{$index} {
    top: $top;
    left: $left;
    animation: Animasearch $time ease-in-out infinite;
    animation-delay: $delay * $index;
  }
}

@keyframes Animasearch {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  15%,
  50% {
    transform: scale(0.5);
    opacity: 0;
  }
  65% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes LoadText {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
